@media (min-width: 960px) {
  .hello-index {
    background-image: url(../img/hellotablet2.png);
  }
  .header-index {
    padding-top: 4rem;
  }
  .nav-index {
    display: none;
  }
  .img-about-mobile img {
    height: 20rem;
  }


  .about-index {
  background-color: #fdfaf7;
  }
  .text-about {
    padding-left: 8rem;
    padding-right: 8rem;
  }
  .text-about h2 {
    font-size: 4rem;
  }
  .text-about h3 {
    font-size: 1.5rem;
  }
  .text-about p {
    line-height: 2.5rem;
    font-size: 1.3rem;
  }
  .dhyana_yoga h3, 
  .docturno_landing h3 {
    padding-top: 4rem;
    font-size: 1.7rem;   
  }
  .projects-content {
    font-size: 1.3rem;
    line-height: 2rem;
  }
  .lead-work {
    padding-top: 3rem;
    padding-bottom: 5rem;
  }
  .lead-work .btn {
    font-size: 3rem;
  }


  /* .contact-content-mobile {
    display: none;
  } */

  .mobile-button {
    display: unset;
  }
  .footer-list {
    float: right;
    width: 50%;
    margin: 0;
    padding-top: 5px;
  }
  .social-list {
    float: left;
    width: 50%;
    padding-top: 0;
    padding-bottom: 0;
  }
  .social-list .fa-github {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .year-index {
    clear: both;
    padding-top: 2rem;
  }
}
