@media (min-width: 768px) {
  .hello-index {
    background-image: url(../img/hellotablet2.png);
  }
  .nav-index {
    display: none;
  }
  .text-about {
  padding-left: 3rem;
  padding-right: 3rem;
  }
  .about-index {
  background-color: #fdfaf7;
  }

  .footer-index .footer-list,
  .footer-index .footer-list a {
    font-size: 1.3rem;
  }
  .year-index {
    font-size: 1.1rem;
  }
}
