/* INDEX */

body {
  margin: 0;
  padding: 0;
  background-color: #fdfaf7;
}

/* FIRST SECTION */

.hello-index {
    background-image: url(../img/hellomobile.png);
    background-size: cover;
    height: 100vh;
    width: 100%;
}
.header-index {
    padding-top: 2rem;
    font-size: 1.5rem;
    color: #626b9f;
    text-align: center;
}
.hello-index h1, h2 {
    font-family: 'Grand Hotel', cursive;
    font-weight: normal;
}
.hello-index h1 {
  font-size: 4rem;
  margin: 0;
  margin-top: 1rem;
}
.hello-index h2 {
  font-size: 2.5rem;
  margin: 0;
  margin-top: 1rem;
}
.nav-index {
  display: none;
}





/* SECOND SECTION */




.about-index {
  background-color: #fdfaf7;
  text-align: center;
  background-size: cover;
  width: 100%;
  padding-bottom: 4rem;
}
.img-about {
  display: none;
}
.img-about-mobile {
  display: unset;
}
.img-about-mobile img {
  height: 15rem;
  margin-top: 2rem;
}

.text-about {
  font-family: 'Open Sans', Helvetica;
  text-align: center;
  font-size: 0.98rem;
  line-height: 1.8;
  padding-left: 2rem;
  padding-right: 2rem;
}
.text-about h2 {
  color: #626b9f;
  font-size: 2.7rem;
  margin-top: 1rem;
  margin-bottom: 0;
}
.text-about h3 {
  font-family: 'Montserrat', Helvetica;
  color: #8a8989;
  font-size: 1rem;
  font-weight: 100;
  margin: 0;
}



/* WORKS SECTION */



.works-index {
  /* background-image: url(../img/section2mobile2.png); */
  text-align: center;
  background-size: cover;
  width: 100%;
  height: 100vh;
  padding-bottom: 5rem;
}
.my_projects {
  height: 35vh;
}
.my_projects img {
  max-width: 100%;
}
.know-index {
  font-family: 'Open Sans', Helvetica;
  line-height: 1.8;
  padding-top: 15rem;
}

.know-index h4 {
  font-size: 1.2rem;
  color: #626b9f;
}

.know-index p {
  margin-bottom: 0;
}

.know-index button {
  font-family: 'Grand Hotel', cursive;
  font-size: 2.7rem;
  border-radius: 7px;
  padding: 0.6rem;
  background-color: #5163c1; 
  border: none;
  transition: all 0.5s ease 0s;
}

.know-index button {
  text-decoration: none;
  color: #fdfaf7;
}




/* FOOTER SECTION */



.footer-index {
  margin: 0;
  /* background-color: #fdfaf7; */
  font-family: 'Montserrat', sans-serif;
  background-color: #eaebf3;
}

.footnav-index {
  padding-top: 3rem;
}

.footer-list {
  display: flex;
  justify-content: space-around;
  padding-left: 0;
}

.footer-list li {
  list-style-type: none;
}

.footer-list a {
  text-decoration: none;
  color: #5d5b5b;
}

.footer-list .about, .contact-me {
  float: left;
}

.social-list {
  list-style-type: none;
  display: flex;
  justify-content: center;
  padding-top: 2rem;
  padding-bottom: 1rem;
  padding-left: 0;
  margin: 0;
}

.social-list a {
  font-size: 1.5rem;
  color: #5163c1; 
}

.social-list .fa-github {
  padding-left: 1rem;
  padding-right: 1rem;
}

.year-index {
  text-align: center;
  color: #aba9a9;
  font-size: 0.8rem;
  padding-bottom: 2px;
}

/* MODAL */

  /* The Modal (background) */
  /* .modal {
    text-align: center;
    display: none;
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
  }
  .modal h1 {
    color: #4758aa;
    font-size: 2.8rem;
  }
  .modal p {
    color: #5b7b99;
    font-size: 1rem;
  } */
/* Modal Content/Box */
  /* .modal-content {
    background-color: #eaebf3;
    margin: 15% auto;
    padding: 20px;
    border-radius: 3px;
    width: 37%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    animation-name: animatetop;
    animation-duration: 0.6s
  }
  @keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
  } */

.contact-me {
  color: #5d5b5b;
  border: none;
  background-color: transparent;
  font-family: 'Montserrat';
  font-size: 1rem;
  cursor: pointer;
  outline: none;
}




